* {
    margin: 0;
    padding: 0;
}

header,
main,
footer,
nav,
aside,
section,
div {
    display: block;
}

body {
    font-family: 'Rubik', 'Aerial';
}

header {
    width: 100%;
    height: 116px;
    display: flex;
    justify-content: flex-start;
    background-color: #7BCCE4;
}

#logo {
    display: block;
    background: url("../images/logo_n.png");
    background-repeat: no-repeat;
    width: 254px;
    height: 73px;
    margin-top: 20px;
    margin-left: 20px;
}

.logo-con {
    display: flex;
    align-items: center;
    height: inherit;
}

nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    justify-self: flex-end;
    margin-left: auto;
}

ul.nav.nav-tabs {
    --bs-nav-tabs-border-width: none;
    --bs-nav-tabs-border-color: none;
    --bs-nav-tabs-border-radius: none;
    --bs-nav-tabs-link-hover-border-color: none;
    --bs-nav-tabs-link-active-color: var(--bs-emphasis-color);
    --bs-nav-tabs-link-active-bg: var(--bs-body-bg);
    --bs-nav-tabs-link-active-border-color: var(--bs-border-color) var(--bs-border-color) var(--bs-body-bg);
    border-bottom: none;
}

a {
    text-decoration: none;
}

header>nav>ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

a.nav-link {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    border: none;
    outline: none;
}

a.nav-link:hover {
    border: none;
    outline: none;
}

a.nav-link.active {
    position: relative;
    height: 100%;
    top: 0;
    left: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    outline-offset: -2px;
    border: none;
}


/* list-design */

#view_real_time {
    position: flex;
    width: 1320px;
    height: 180px;
    margin-left: 62px;
    margin-top: 65px;
    background: #BFE8F4;
    border-radius: 6px;
}

.blue {
    width: 220px;
    height: 100px;
    /* left: 416px;
top: 241px; */
    background: #82BEDD;
    border-radius: 6px;
}

.dropdown-menu {
    --bs-dropdown-border-color: none;
    --bs-dropdown-border-radius: none;
    --bs-dropdown-border-width: none;
    border-radius: none;
    border: none;
}

.dropdown-item {
    text-align: end;
}

.dropdown-toggle::after {
    content: none;
}

/* --------------------------------appointment-------------------------------------- */

#appointmentWrapper {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    width: 800px;
    height: 681px;
    color: #949494;
}

#h1-appointments {
    width: 100%;
    height: 30px;
    background: #BFE8F4;
    color: #000000;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
    padding-top: 0.5%;
}

#appointment-form-wrapper {
    margin: 30px;
}

#appointment-inside-form-wrapper {
    display: flex;
}

#appointment-first-wrapper {
    display: flex;
    flex-flow: column;
    text-align: end;
}

#appointment-second-wrapper {
    display: flex;
    flex-flow: column;
    text-align: end;
}

#appointment-one-and-two-wrapper {
    display: flex;
    flex-flow: row-reverse;
    /* column-gap: 20px; */
    gap: 30px;
}

#appointment-third-wrapper {
    display: flex;
    flex-flow: column;
    margin-bottom: 5%;
}

#appointment-third-wrapper-2 {
    display: flex;
    flex-flow: row-reverse;
    gap: 10px;
    
}

#appointment-down-side-wrapper {
    text-align: end;
    width: 100%;
}

#appointment-right-side-wrapper {
    display: flex;
    flex-flow: column;
    align-items: flex-end;

}

#appointment-left-side-wrapper {
    display: flex;
    flex-flow: column;
    direction: rtl;
}
#appointment-left-side-label{
    padding-right: 15%;
}
/* #appointment-third-wrapper-label{
    padding-left: %;
} */
.upload_hide {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
}
.upload_label {
    width: 25vw;
    height: 58vh;
    margin-right: 55px;
    border: 2px dashed #234A60;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 6px;
    flex-direction: column;
    background-color: rgba(191, 232, 244, 0.2);
}

.upload_label>i {
    color: #2E6E92;
    font-size: 70px;
    margin: 28px 0;
}

.drag_text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.drag_text > span{
    color: #2E6E92;;
}
.form-control{
    direction: rtl;
}
.form-label {
    margin-bottom: 0; 
}
#appointment-submit-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 8%;
    border-radius: 50%;
}
#submit-button{
    border-radius: 20px 20px 20px 20px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgba(160, 160, 160, 0.8);
    border: none;
}
