* {
    margin: 0;
    padding: 0;
}

header,
main,
footer,
nav,
aside,
section,
div {
    display: block;
}

body {
    font-family: 'Rubik', 'Aerial';
}

header {
    height: 116px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: #7BCCE4;
    transition: 0.3s;
}

#logo {
    display: block;
    background: url("../images/h.t.m-logo.png");
    background-repeat: no-repeat;
    width: 254px;
    height: 73px;
    margin-top: 20px;
    margin-left: 20px;
}

.logo-con {
    display: flex;
    align-items: center;
    height: inherit;
}


#mobile-profile-picture {
    display: none;
}


nav {
    display: flex;
    align-items: flex-end;
    justify-self: flex-end;
    margin-left: auto;
}

ul.nav.nav-tabs {
    --bs-nav-tabs-border-width: none;
    --bs-nav-tabs-border-color: none;

    --bs-nav-tabs-link-hover-border-color: none;
    border-bottom: none;
}


.mobile-toggle-menu {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 10%;
    height: 7%;
    z-index: 999;
    opacity: 0;
    cursor: pointer;
}

.hamburger {
    position: relative;
    width: 20px;
    height: 4px;
    background-color: #000000;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    height: 4px;
    background-color: #000000;
    border-radius: 10px;
    transition: 0.3s;

}



.hamburger::before {
    top: -10px;
    width: 30px;
}

.hamburger::after {
    top: 10px;
    width: 30px;
}

.hamburger,
.mobile-toggle-menu {
    display: none;

}

nav input:checked~.hamburger {
    background-color: transparent;
}

nav input:checked~.hamburger::before {
    top: 0;
    transform: rotate(-45deg);

}

nav input:checked~.hamburger::after {
    top: 0;
    transform: rotate(45deg);
}

a {
    text-decoration: none;
    color: #575555;
}

header>nav>ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.nav-link {
    color: #000000;
}

a.nav-link {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    border: none;
    outline: none;
}

a.nav-link:hover {
    border: none;
    outline: none;
}

a.nav-link.active {
    position: relative;
    height: 100%;
    top: 0;
    left: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    outline-offset: -2px;
    border: none;
}

.mobile-menu {
    display: none;
    transition: 0.5s;
}

.nav-item.dropdown {
    border-radius: 6px 6px 0 0;
}

/*----------------------------------- nav-media-query -----------------------------------------*/
@media (max-width: 992px) {

    .nav-tabs {
        display: none;
    }

    header {
        height: 50px;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
    }

    #logo {
        display: none;
    }

    .logo-con {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    #logo-mobile {
        width: 117px;
        height: 34px;
        background: url("../images/mobile_logo.png");
        background-repeat: no-repeat;
    }

    .hamburger,
    .mobile-toggle-menu {
        display: block;
    }

    .mobile-menu {
        /* display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed; */
        position: absolute;
        display: none;
        list-style: none;
        direction: rtl;
        top: 0;
        right: -300px;
        height: 100vh;
        transition: 0.3s;
        background-color: #ffffff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 1;

    }

    .img-menu-aside {

        width: 50%;
    }


    .mobile-menu li {
        width: 100%;

    }

    /* .mobile-menu li:nth-child(11) {
        background-color: #fff;
        display: flex;
        /* justify-content: center; */
    /* } */

    .mobile-menu li a {
        display: block;
        color: #115A83;
        padding: 15px;
        font-size: 16px;
        line-height: 1;
        transition: 0.3s;
        text-align: right;
    }

    nav input:checked~.mobile-menu {
        right: 0;
    }
    .mobile-toggle-menu:checked ~ .mobile-menu {
        display: block;
    }

    .white-color {
        padding-bottom: 10px;
        background-color: white;
        display: block;
        width: 100%;
        height: 5%;
    }

    .white-color-divide {
        padding-bottom: 10px;
        background-color: white;
        display: block;
        width: 100%;
        height: 18%;
    }


    #mobile-menu-header {

        color: #115A83;
        /* padding-bottom: 19%; */
        font-weight: bold;
        font-size: 16px;

        line-height: 19px;
        text-align: center;
        margin-top: 20px;
    }





    #second-logo-mobile {
        display: block;
        background: url("../images/menu_mobile_logo.png");
        background-repeat: no-repeat;
        width: 127px;
        height: 104px;

    }

    #mobile-profile-picture {
        display: flex;
        justify-content: flex-start;
    }

    .mobile-menu li a .fa-solid,
    .mobile-menu li a .fa-regular {
        text-align: right;
    }

    ol,
    ul {
        padding: 0cm;
    }


    .mobile-menu .divider-item {
        border-bottom: 1px solid gray;
        margin-bottom: 10px;
    }

    .mobile-menu .divider-item:last-child {
        margin-bottom: 0;
    }

    .divider-item-space {
        border-bottom: 1px solid gray;
        /* margin-bottom: 10px; */
        margin-top: 8%;
    }

}

.dropdown-menu {
    --bs-dropdown-border-color: none;
    --bs-dropdown-border-radius: none;
    --bs-dropdown-border-width: none;
    border-radius: 0;
    border: none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    background-color: #7BCCE4;
}

.dropdown-item {
    text-align: end;
}

.dropdown-toggle::after {
    content: none;
}

/*----------------------------------- list-design -----------------------------------------*/

#view_real_time {
    display: flex;
    width: 90%;
    height: 180px;
    margin-left: 62px;
    margin-top: 65px;
    background: #BFE8F4;
    border-radius: 6px;
    flex-flow: column;

}


.blue-view {
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 72px;

}

.blue {
    display: flex;
    flex-flow: column;
    width: 120%;
    height: 100%;
    background: #82BEDD;
    border-radius: 6px;
    align-items: center;
    padding: 0px 10px;

}

.test-flex {
    display: flex;
    justify-content: center;
}

.text-blue {
    display: flex;
    flex-flow: column;
    margin-top: 21px;
    justify-content: end;
    align-items: end;

}


.text-blue>h6 {
    font-family: 'Rubik', 'Aerial';
    font-weight: bold;
    font-size: 20px;
}

.text-aside {
    display: flex;
    flex-flow: column;
    font-weight: bold;
    font-size: 24px;
    margin-top: 55px;
}

.all-container {
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    margin-top: 10px;
}

.title-text h6 {
    font-size: 24px;
}

#search-list {
    width: 592px;
}

.form-control {
    background-color: #ffffff;
    border: 1px solid #115A83;
}

#form-control-list::placeholder {
    text-align: center;
    background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg>');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
}

div.dataTables_wrapper div.dataTables_filter input::placeholder {
    text-align: center;
    background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg>');
    background-repeat: no-repeat;
    background-position: left center;
}

.col-md-6 {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 0.5%;
}

.center-form-search {
    display: flex;
    justify-content: center;
}

.form_container {
    justify-content: center;
}

.plus {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-left: 66px;
    flex-direction: column;
    align-items: center;
    top: 385px;

}

.plus a {
    color: #82BEDD
}

.plus>p {
    color: #115A83
}

.list-Wrapper-table {
    max-width: 90%;
    align-items: center;
    margin-left: 62px;
    text-align: center;
}


.table {
    text-align: center;
    border-spacing: 0 10px;
    border-collapse: separate;
}

table.dataTable {
    border-spacing: 0 10px;
}

th {
    color: #000000;
    font-size: 18px;
    font-family: 'Rubik', 'Aerial';
}

td {
    color: #575555;
    font-size: 18px;
    font-family: 'Rubik', 'Aerial';
}

.table thead {
    background-color: #BFE8F4;
}

.table.dataTable thead th {
    text-align: center;
}

.btn-primary {
    --bs-btn-color: none;
    --bs-btn-bg: none;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: none;
    --bs-btn-hover-bg: none;
    --bs-btn-hover-border-color: none;
    --bs-btn-active-color: none;
    --bs-btn-active-bg: none;
    --bs-btn-active-border-color: none;
}

.modal-content {
    direction: rtl;
}

.modal-header {
    background-color: rgba(91, 192, 222, 0.60);
}

.modal-header .btn-close {
    margin: 0;
    padding: 0;
}

.modal-body {
    text-align: center;
}

.modal-footer {
    justify-content: space-between;
}

#deleteModalLabel {
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 24px;
}

#list-delete-cancel-button {
    background-color: #5BC0DE;
    color: white;
    border: none;
    border-radius: 100px;
    padding-right: 10%;
    padding-left: 10%;
}

#list-delete-agree-button {
    background-color: #5BC0DE;
    color: white;
    border: none;
    border-radius: 100px;
    padding-right: 10%;
    padding-left: 10%;
}


#updateForm {
    display: flex;
    flex-flow: column;
}


#list-update-modal-content {
    width: 100%;
}

#list-update-modal-header {
    width: 100%;
}

#list-update-modal-footer {
    width: 100%;
}


#updateModalLabel {
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 24px;
}

#list-update-modal-body-wrapper {
    display: flex;
    flex-flow: column;
}

#list-update-cancel-button {
    background-color: #5BC0DE;
    color: white;
    border: none;
    border-radius: 100px;
    padding-right: 10%;
    padding-left: 10%;
}

#list-update-agree-button {
    background-color: #5BC0DE;
    color: white;
    border: none;
    border-radius: 100px;
    padding-right: 10%;
    padding-left: 10%;
}

/* border-radius */
.table thead tr:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.table thead tr:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.table thead tr th:first-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.table thead tr th:last-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}


/* row */
.table tbody tr:first-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.table tbody tr:last-child {

    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.table tbody tr td:first-child {

    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.table tbody tr td:last-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

/* color-table */

.table tbody tr {
    background-color: #DAEEF4;
}

table.dataTable>tbody>tr {
    background-color: #DAEEF4
}

.list-Wrapper-table {
    direction: rtl;
}

#example_info {
    display: none;
}

/*----------------------------------- list-design-media-query ------------------------*/


@media (max-width: 992px) {
    #view_real_time {
        display: none;
    }

    .form_container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #search-list {
        width: 80%;
    }

    .form-control::placeholder {
        text-align: center;
        /* background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg>'),
            url('../images/sliders-solid.svg'); */
        background-repeat: no-repeat, no-repeat;
        background-position: left center, right center;
        padding-left: 30px;
    }

    .plus {
        display: none;
    }

    .list-Wrapper-table {
        margin: 0 auto;
    }

    .table {
        border-collapse: separate;
        border-spacing: 0 10px;
        text-align: center;
        direction: rtl;
    }

    .table thead tr {
        display: none;
    }

    .bi.bi-pencil {
        display: none;
    }

    .bi.bi-x-circle-fill {
        display: none;
    }

    .table tr {
        display: block;
    }

    .table th,
    .table td {
        padding: 8px;
    }

    .table td {
        text-align: right;
        display: block;
        font-size: 16px;
    }

    table td:last-child {
        text-align: left;
        font-weight: bold;
    }

    td.list-icons {
        display: none;
    }

    .table td::before {
        content: attr(data-title) ": ";
    }

    .table>:not(caption)>*>* {
        border-color: #ffffff;
    }

    .table tbody tr:nth-child(even) {
        background-color: rgba(91, 192, 222, 0.6);
    }

    div.dataTables_wrapper div.dt-row {
        position: relative;
        /* z-index: -1; */
    }
    #example {
        z-index: -1; /* or any other desired value */
      }


}

/* --------------------------------appointment-------------------------------------- */
#appointmentWrapper {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    width: 800px;
    height: 681px;
    color: #949494;
}

#h1-appointments {
    width: 100%;
    height: 55px;
    background: #BFE8F4;
    color: #000000;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
    padding-top: 2%;
}

#h1-appointments>h5 {
    font-weight: bold;
}

.form-select {
    background-color: #ffffff;
    border: 1px solid #115A83;
    direction: rtl;
    padding: 0.375rem 0.5rem 0.375rem 0.75rem;


    background-position: left 0.75rem center;
}


#appointment-form-wrapper {
    margin-top: 10px;
}

#appointment-inside-form-wrapper {
    display: flex;
}

#appointment-first-wrapper {
    display: flex;
    flex-flow: column;
    text-align: end;
}

#appointment-second-wrapper {
    display: flex;
    flex-flow: column;
    text-align: end;
}

#appointment-one-and-two-wrapper {
    display: flex;
    flex-flow: row-reverse;
    gap: 30px;
}

#appointment-third-wrapper {
    display: flex;
    flex-flow: column;
    margin-bottom: 5%;
}

#appointment-fourth-wrapper {
    text-align: end;
}

#appointment-third-wrapper-2 {
    display: flex;
    flex-flow: row-reverse;
    gap: 20px;

}

#appointment-down-side-wrapper {
    text-align: end;
    width: 100%;
}

#appointment-right-side-wrapper {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    margin-top: 10px
}

#appointment-left-side-wrapper {
    display: flex;
    flex-flow: column;
    direction: rtl;
    margin-top: 10px
}

#appointment-left-side-label {
    padding-right: 15%;
}

.upload_hide {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
}

.upload_label {
    width: 25vw;
    height: 100%;
    margin-right: 55px;
    border: 2px dashed #234A60;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 6px;
    flex-direction: column;
    background-color: rgba(191, 232, 244, 0.2);
}

.upload_label>i {
    color: #2E6E92;
    font-size: 70px;
    margin: 28px 0;
}

.drag_text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.drag_text>span {
    color: #2E6E92;
}

.form-control {
    direction: rtl;
}

.form-label {
    margin-bottom: 0px;
}

#appointment-submit-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 8%;
    margin-bottom: 5%;
    border-radius: 50%;
}

#submit-button {
    border-radius: 20px 20px 20px 20px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgba(160, 160, 160, 0.8);
    border: none;
}

#appointment-modal-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.appointment-divider-line {
    border-left: 2px dashed #DBDADE;
    height: 10vh;
    ;
    margin: 10px;
}

.modal-body span {
    color: #000;
}

#appointment-modal-body-second-part {
    display: flex;
    flex-flow: column;
    gap: 20%;
    justify-content: center;
}

#appointment-modal-body-third-part {
    display: flex;
    justify-content: center;
    flex-flow: column;

}

#appointment-modal-check {
    color: #6CFC95;
    font-size: 35px;
}

#appointment-modal-error {
    color: #bd3b3b;
    font-size: 35px;
}

#appointment-error-message {
    display: flex;
    flex-flow: column-reverse;

}

#appointment-modal-calendar {
    color: #115A83;
    font-size: 35px;
}

#appointment-modal-clock {
    color: #115A83;
    font-size: 35px;
}

#successModalLabel {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #000;
    font-family: 'Rubik';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* ----------------------------appointment-media-query---------------------------------------- */

@media (max-width: 992px) {

    #appointmentWrapper {
        display: flex;
        flex-flow: column;
        margin: 0;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    #h1-appointments {
        width: 90%;
        height: 31px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #appointment-left-side-wrapper {
        display: none;
    }

    #appointment-one-and-two-wrapper {
        display: initial;
    }

    #appointment-second-wrapper {
        padding-top: 30px;
    }



}


/*----------------------------------- Patient-Profile-Design -----------------------------------------*/

#profileWrapper {
    display: flex;
    flex-flow: column;
    width: 80vw;
    margin: 0 auto;

}

.flex-title {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.visible-table {
    direction: rtl;
}

.title-patientProfile {
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: #BFE8F4;
    margin-top: 15px;
}

.text-in-title {
    align-self: center;
    font-weight: bold;
    padding-top: 1%;
}

.text-in-title>h5 {

    font-weight: bold;
}

.flex-table {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.info-profile {
    display: flex;
    justify-content: center;
    flex-flow: column;
    direction: rtl;
    margin-top: 20px;
}

.info-profile-tabs {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-content: center;
    background-color: rgba(91, 192, 222, 0.5);
    width: 100%;
    border-radius: 6px 6px 0px 0px;

}

.my-info-profile-tab {
    display: flex;
    justify-content: space-around;
    width: 100%;

}

.nav-bar-2 .nav-link.active {
    background-color: #E0F4F9;
    border-radius: 6px 6px 0px 0px;
}

#info-profile-content {
    display: flex;
    justify-content: center;
    background-color: #E0F4F9;
    border-radius: 0px 0px 6px 6px;
}

#myTabContent {
    width: 100%;
}


#Medical-information-tab-pane-upper-part {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 10px;
}



.divider {
    border-top: 2px solid #ABABAB;
    height: 1px;
    width: 100%;
    margin-top: 1.3%;
}

#Medical-information-tab-pane-lower-part {
    display: flex;
    flex-flow: row;
}

#Medical-information-tab-pane-lower-part-right-side {
    width: 30%;
    margin-right: 20px;
    margin-top: 1.5%;
}

#Medical-information-tab-pane-lower-part-left-side {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

#Medical-information-tab-pane-lower-part-left-side>label {
    margin-bottom: 2%;
}

#Medical-information-tab-pane-lower-part-left-side-container {
    display: flex;
    justify-content: center;
    flex-flow: row;
    gap: 20px;
}


#virtual-assistant-tab-pane {
    width: 100%;
}

#virtual-assistant-tab-pane-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1.5%;
}

#virtual-assistant-tab-pane-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#medical-history-tab-pane {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#virtual-assistant-tab-pane-button {
    height: 30px;
    border-radius: 100px;
    border: none;
    background-color: rgba(141, 159, 169, 0.59);
    padding-left: 5%;
    padding-right: 5%;
    color: black;
}

#save-info-profile-changes-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#save-info-profile-changes {
    margin: 5%;
    height: 30px;
    border-radius: 100px;
    border: none;
    background-color: #5BC0DE;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
}

.mobile-patient-profil-section1 {
    display: none;
}

.visible-tab-mobile {
    display: none;
}


/* check */
#message-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#message-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    color: #115A83;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#message-text {
    font-size: 18px;
}

.breadcrumb-right {
    justify-content: flex-end;
    margin-right: 8px;
}

.breadcrumb-item.active {
    color: rgb(86, 86, 248);
}

/*----------------------------------- Patient-Profile-media-query ------------------------*/
@media (max-width: 992px) {

    #medical-history-tab {
        display: none;
    }

    .nav-fill .nav-item,
    .nav-fill>.nav-link {
        /* flex: 50%; */
        text-align: center;
    }


    #myTabContent {
        display: none;
    }

    .flex-mobile-warpper {
        display: flex;
        flex-direction: column;
        padding: 20px;

    }

    .mobile-patient-profil-section1 {
        color: #115A83;
        display: flex;
        background-color: #CEECF5;
        height: fit-content;
        flex-flow: column;
    }



    .warpper-inside-blue-section1 {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .visible-tab-mobile {
        display: initial;
        margin-top: 20px;
    }

    .tab2-mobile {
        color: #115A83;
        background-color: #CEECF5;
        align-items: center;
        justify-content: center;
        height: fit-content;
        padding: 20px;
    }

    .visible-table {
        display: none;
    }

    .icon-patient {
        display: flex;
        justify-content: space-between;
    }

    .icon1,
    .icon2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .select-responsiblity {
        display: flex;
        flex-flow: row;
        margin-top: 10px;
        gap: 20px;
    }

    .title-name-pateint-mobile {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }

    #body-patientProfile .form-select {
        width: 20vh;
    }

    .a-history {
        text-align: left;
        margin-top: 10px;
        color: cornflowerblue;
    }

}

/*----------------------------------- dashboard -----------------------------------------*/

/* chart! */

/* .dashboard-flex-graph{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.graphbox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: [start] 1fr [middle] 2fr[end] 1fr;
    /* grid-template-columns: 18% 55% 18% ;
    grid-template-rows: repeat(3, 2fr); ; */
    gap: 3em;

    /* grid-template-areas: "circle graph date" "add log last" "list list list"; */
    /* grid-template-columns: repeat(3, 2fr); */
    text-align: center;
    justify-content: center;
}

/* .graphbox:nth-chlid(1) {
    grid-area: circle;
}

.graphbox:nth-chlid(2) {
    grid-area: graph;
}

.graphbox:nth-chlid(3) {
    grid-area: date;
}

.graphbox:nth-chlid(4) {
    grid-area: add;
}

.graphbox:nth-chlid(5) {
    grid-area: log;
}

.graphbox:nth-chlid(6) {
    grid-area: last;
} */





.chart-size {
    display: flex;
    align-items: center;
    height: 80%;
    padding: 10px
}

.graphbox .box {
    position: relative;
    background: #DAEEF4;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    /* height: 50vh; */
    padding: 20px;
}


.box {
    max-width: 99%;
    max-height: 99%;
}

.add-task {
    direction: rtl;
}


#addButton {
    border-radius: 5px;
    height: 50%;
    width: 30%;
    background-color: #72aaca;
    border: none;

}

.delete-button {
    border-radius: 5px;
    height: 50%;
    width: 30%;
    background-color: #72aaca;
    border: none;

}

#taskInput {
    text-align: center;
    border-radius: 5px;
    border-color: white;
}

.task-item-wrapper {
    margin-top: 5px;
    display: flex;
    direction: rtl;
    align-items: center;
    text-align: center;
    gap: 40px;
    justify-content: center;
}

.dashbord-list-Patients {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    /* min-height: 200px; */

}

.dashbord-list-Patients .box {
    position: relative;
    background: #DAEEF4;
    padding: 15px;
    width: 100%;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}




/* table */
/* color-table */

.table-dashboard tr:nth-child(even) {
    background-color: #6caec3;
}

.table-dashboard td.tbl-color-dashboard {
    background-color: #BFE8F4;
}

.table-dashboard th.tbl-color-dashboard {
    background-color: #5ab3ce;
}
/* .table-dashboard-body{

} */
.table-dashboard td.tbl-color-dashboard-red  {
    background-color: red ;
}

/* Orange background for rows where 0 <= (current - capacity) <= 10 */
.table-dashboard td.tbl-color-dashboard-orange {
    background-color: orange;
}

/* Blue background for rows where (current - capacity) < 0 */
.table-dashboard td.tbl-color-dashboard-blue {
    background-color: blue;
}


/* calender */
.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.month {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.weekdays {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    gap: 5px;
    margin-bottom: 10px;
}

.day {
    width: 14.28%;
    /* 100% divided by 7 days */
    text-align: center;
    font-weight: bold;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.days div {
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
}

.header-calnder {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#prevBtn,
#nextBtn {
    border-radius: 20px;
    width: 30px;
    height: 30px;
    background: #fff;
}


/* message board */

.dashboard-flex-table {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dashboard-table-message tbody tr td {
    font-size: 1.2em;
}

.dashboard-system-message td {
    color: #F69623;
}

.dashboard-divider-gray {
    width: 100%;
    background-color: #706d6d;
    height: 0.5px;
}

.dashboard-flex-h4 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

#dashborad-icon {
    height: 10px;
}

.dashboard-flex-table {
    direction: rtl;
}

.dashboard-table-message td {
    background-color: #BFE8F4;
}

.dashboard-table-message th {
    background-color: #b4dbe7;
}

.dashboard-mobile {
    display: none;
}

.box-mini-nav-dashboard {
    width: 5%;
    height: 5%;
}

#dashboard-modal-body {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

/* responsvie dashbord */
@media (max-width:991px) {

    .graphbox {
        grid-template-columns: 0.5fr;
        height: auto;
        z-index: -1;
    }

    .box-row2-col2 {
        display: none;
    }

    .box-calendar {
        display: none;
    }

    .box-task-manager {
        display: none;
    }

    .box-messages {
        display: none;
    }

    .box-list {
        display: none;
        padding: 0%;
    }

    .graphbox .box {
        height: 50vh;
        width: 90vw;
        padding: 20px;
    }

    .dashboard-mobile {
        display: block;
        padding: 20px;
        z-index: -1;
    }

    .dashboard-mobile-Container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #DAEEF4;
        box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
        height: 15vh;
        width: 98%;
        gap: 5%;
        justify-content: center;
        align-items: center;
    }

    .dashboard-mobile-h3 h3 {
        font-size: 1em;
    }

    .dashboard-mobile-h4 {
        display: flex;
        flex-direction: row;
        gap: 5%;
        text-align: center;
        align-items: center;
    }

    .dashboard-mobile-h4 h4 {
        font-size: 0.8em;
    }

    .dashboard-mobile-divider {
        width: 100%;
        height: 1%;
        background-color: #575555;
    }



    .dashboard-mobile-grid {
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 20%);
        gap: 14%;
        margin-top: 5%;
        text-align: center;
        width: 100%;
        justify-items: center;
        justify-content: center;


    }

    #size-mobile-icon1,
    #size-mobile-icon3,
    #size-mobile-icon2 {
        font-size: 2em;
    }


    .dashboard-box-mobile {
        position: relative;
        background: #DAEEF4;
        box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: 15vh;
        width: 27vw;
    }

    /* .dashboard-message-mobile {
        position: relative;
        display: flex;
        background: #DAEEF4;
        box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
        height: 15vh;
        width: 98%;
        justify-content: center;
    align-items: center;
} */


    .dashboard-box-mobile a {
        font-size: 0.6em;
        font-weight: 200;
    }

    .dashbord-list-Patients {
        padding: 0px;
    }

    .fa-regular.fa-envelope {
        position: relative;
    
    }
    .new-message-icon {
        position: absolute;
        width: 6px;
        height: 6px;
        background-color: red;
        border-radius: 50%;
        transform: translate(0%, 0%);
    }



}

/*----------------------------------- index--login -----------------------------------------*/



.header-index {
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


.index-form-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    background: linear-gradient(180deg, #7BCCE4 0%, rgba(255, 255, 255, 0.00) 60.73%, #76ABBA 100%);
    flex-direction: column;
    width: 32%;
    height: 50%;

}

#frm {
    direction: rtl;
    display: flex;
    height: 100%;
    flex-flow: column;
    justify-content: space-evenly;
    flex-direction: column;
}

#inedx-button {
    background-color: #55a7d7;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 23px;
    display: flex;
    align-self: flex-end;
}

.index-label {
    font-size: 1.5em;
    color: #000000;
}

.index-backgorund-img {
    background: url("../images/login-img-background.png");
    background-repeat: no-repeat;
    background-size: cover;

}

/*----------------------------------- responsive-index--login -----------------------------------------*/

@media (max-width: 992px) {
    .index-form-box {
        width: 65%;
        height: 50%;
    }

    .header-index {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #logo-mobile {
        display: block;
        width: 117px;
        height: 34px;
        background: url(../images/mobile_logo.png);
        background-repeat: no-repeat;
    }
}

















/*----------------------------------- editProfile-Container -----------------------------------------*/



#editProfile-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}


.editProfile-Container {
    flex-direction: row;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl;
    height: 100%;
}


.editProfile-col1,
.editProfile-col2 {
    display: flex;
    flex-direction: column;
}


.editProfile-Container-inner {
    display: flex;
}



.editProfile-col1-group {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.editProfile-col3 {

    display: flex;
    justify-content: center;
}

.editProfile-img {

    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.editProfile-Container-out {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}


#editProfile-submit-button {
    background-color: #5BC0DE;
    width: 20%;
    border-radius: 20px;
}


/*-----------------------------------  responsive editProfile-Container -----------------------------------------*/
@media (max-width: 992px) {
    .editProfile-img img {
        height: 40%;
        width: 40%;
    }


    .editProfile-col1-group {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }


    #editProfile-submit-button {
        background-color: #5BC0DE;
        width: 30%;
        border-radius: 20px;
    }

}


/*------------------------------------add-user------------------------------------------*/

#addUserWrapper {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    width: 800px;
    height: 681px;
    color: #949494;
}

#h1-addUser {
    width: 100%;
    height: 55px;
    background: #BFE8F4;
    color: #000000;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
    padding-top: 2%;
}

#h1-addUser>h5 {
    font-weight: bold;
}

#addUser-form {
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: center;

}

.addUser-form-inner-wrapper {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-evenly;
    text-align: end;
    margin-top: 2.5%;
}

.addUser-form-inputs-wrapper {
    display: flex;
    flex-flow: column;
}

#addUser-submit-button {
    background-color: #5BC0DE;
    width: 20%;
    border-radius: 20px;
    margin-top: 5%;
    color: #fff;
    border-radius: 20px;
}

#addUser-modal-body {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

/*-------------------------------add-user-media-query----------------------------------------*/
@media (max-width: 992px) {

    #addUserWrapper {
        display: flex;
        flex-flow: column;
        margin: 0;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    #addUser-form {
        width: 80%;

    }

    #h1-addUser {
        width: 90%;
        height: 31px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .addUser-form-inner-wrapper {
        display: flex;
        flex-flow: column;
        width: 100%;
        justify-content: center;
        text-align: end;
        margin-top: 2.5%;
    }


}