* {
    margin: 0;
    padding: 0;
}

header,
main,
footer,
nav,
aside,
section,
div {
    display: block;
}

body {
    font-family: 'Rubik', 'Aerial';
}

header {
    width: 100%;
    height: 116px;
    display: flex;
    justify-content: flex-start;
    background-color: #7BCCE4;
}

#logo {
    display: block;
    background: url("../images/logo_n.png");
    background-repeat: no-repeat;
    width: 254px;
    height: 73px;
    margin-top: 20px;
    margin-left: 20px;
}

.logo-con {
    display: flex;
    align-items: center;
    height: inherit;
}

nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    justify-self: flex-end;
    margin-left: auto;
}

ul.nav.nav-tabs {
    --bs-nav-tabs-border-width: none;
    --bs-nav-tabs-border-color: none;
    --bs-nav-tabs-border-radius: none;
    --bs-nav-tabs-link-hover-border-color: none;
    --bs-nav-tabs-link-active-color: var(--bs-emphasis-color);
    --bs-nav-tabs-link-active-bg: var(--bs-body-bg);
    --bs-nav-tabs-link-active-border-color: var(--bs-border-color) var(--bs-border-color) var(--bs-body-bg);
    border-bottom: none;
}

a {
    text-decoration: none;
}

header>nav>ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

a.nav-link {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    border: none;
    outline: none;
}

a.nav-link:hover {
    border: none;
    outline: none;
}

a.nav-link.active {
    position: relative;
    height: 100%;
    top: 0;
    left: 0;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    outline-offset: -2px;
    border: none;
}